.vscode/*
CSV_LOGS_DANN
CSV_LOGS_CNN
bucles
BACKUP
OUTPUT
datasets*
OTHER*
WEIGHTS*
LOGS*
RESULTS*
model_*
log*
bib_*
fig_*
out_*
plots
*.out
*.pyc
*~
sh_run_experiment_bs_local.sh
sh_run_experiment_local.sh
sh_run_experiment_test_local.sh
sh_run_experiment_local_2.sh
sh_run_experiment_local_2_cnn.sh
sh_run_experiment_local_3.sh
sh_run_experiment_local_4.sh
sh_run_experiment_local_5.sh
sh_run_experiment_local_cnn.sh
sh_run_test_experiment_local_3.sh
